#root{
    .app-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }
} 
div {
    outline: 0;
    width: 1000px;
}
select {
    font-size: 14px;
    line-height: 2;
    color: #666d8b;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 20px 24px 5px 8px;
    min-height: 30px;
    max-width: 25rem;
    margin-bottom: 50px;
    -webkit-appearance: none;
    background: #3e1616 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    float: right;
}



